.cart_item{
    z-index:15;
    position:relative;
    display:flex;
    border-radius: 8px;
    border:1px solid grey;
    margin:3px;
    padding:3px;


}

.cart_img{
    width:70px;
    height:70px;
    
}
.delete_icon{
    cursor:pointer;
    color:crimson;
    margin-left:30px;
    margin-top:40px;
    text-align: right;
}
.cart_title{
    margin-left:10px;
    margin-top:40px;
    font-weight:500;
}